<!DOCTYPE html>
<template>
  <require from="../search-box/search-box"></require>
  <div>
    <h1 class="text-3xl font-bold mb-2" id="header">FFXIV Character Search</h1>
    <div class="container h-5/6 ml-1 grid grid-cols-4 grid-rows-3">
      <div if.bind="showImg" class="shadow-xl col-span-3 row-span-2 rounded bg-white mr-2 p-3">
        <div class="text-center">
          <h2>${characterName}</h2>
          <h3>${characterJob}</h3>
          <div class="flex justify-center">
            <img class="h-96" alt="character image" src.bind="imageSrc" />
          </div>
        </div>
      </div>
      <div else class="col-span-3 row-span-2"></div>
      <search-box 
        character-name.from-view="characterName"
        character-job.from-view="characterJob"
        image-src.from-view="imageSrc"
      ></search-box>
    </div>
  </div>
</template>
